name: Build Web
on:
  push:
    branches: ["main"]

jobs:
  amd64:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD  }}

      - name: Build image and push to registry
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./apps/web/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ secrets.REGISTRY }}/${{ secrets.WEB_IMAGE_NAME }}:latest
          build-args: |
            NEXT_PUBLIC_MAPBOX_MAP_API_KEY=${{ secrets.NEXT_PUBLIC_MAPBOX_MAP_API_KEY }}

      - name: Trigger deploy via Dokploy API
        run: |
          curl -X POST "${{ secrets.DOKPLOY_API_URL }}/api/application.deploy" \
            -H "accept: application/json" \
            -H "Content-Type: application/json" \
            -H "x-api-key: ${{ secrets.DOKPLOY_API_KEY }}" \
            -d "{\"applicationId\":\"${{ secrets.DOKPLOY_APP_ID }}\"}"